@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: "Roboto Mono", monospace;
}

#navbar{
    position: fixed; 
    top: 0;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 20px;
    width: 100%;
    height: 300px;
    background-color: lightgray;
    overflow: auto;
    border-bottom: 4px solid;
    z-index: 1;
}

#navbar > li {
    list-style-type: none;
    border: 2px black solid;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    margin-left: -20px;
}

.nav-link  {
    display: block;
    cursor: pointer;
    min-width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

#main-doc{
    position: absolute; /* Since part of body it will scroll with pg */
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
    box-sizing: border-box;
    
}

.main-section {  /*Fixes the position fixed anchor jumping bug! */
    margin-top: -300px; /* match the size of the nav bar */
    padding-top: 300px; /* match the positive version of above */
}

#cycleImg{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-style: dotted;
}

code {
    display: inline-block;
    padding: 10px;
    padding-right: 25px;
    box-sizing: border-box;
    width: 100%;
    background-color: whitesmoke;
}

/* This time will follow mobile first design requirements */
/* Put this at the end so it overwrites things properly! */
@media only screen and (min-width: 768px) {
    /* Desktop Settings */
    #navbar{
        position: fixed; /* Want to fix so it doesnt scroll w pg*/
        width: 300px;
        height: 100%;
        border-bottom: 0px none;
        border-right: 4px black solid;
    }
    
    #main-doc{
        margin-top: 0px;
        margin-left: 300px;
    }

    .main-section{
        margin-top: 0;
        padding-top: 0;
    }

    #cycleImg{
        width: 50%;
    }

    code {
        width:50%;
    }
}
